.table-component {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  word-break: break-all;

  thead {
    background-color: #2a87d0;
    color: #fff;
    display: block;

    .col-groups th, .col-header th {
      text-align: center;
      padding: 5px;
      border: 1px solid #fff;
      font-weight: bolder;
    }

    .col-groups th {
      font-size: 16px;
      border-top: 1px solid #2a87d0;
    }

    .col-groups th:first-child, .col-header th:first-child {
      border-left: 1px solid #2a87d0;
    }

    .col-groups th:last-child, .col-header th:last-child {
      border-right: 1px solid #2a87d0;
    }

    .col-header th {
      font-size: 12px;
      border-bottom: none;
      position: relative;

      .sorting-header {
        display: flex;
        justify-content: center;

        .sort-buttons {
          flex-direction: column;
          margin-left: auto;
          display: inline-block;
          position: absolute;
          right: 5px;

          button {
            background: none;
            border: none;
            position: relative;
            padding: 0 !important;
            font-size: 13px;
            span {
              color: #fff;
            }
          }

          button:focus {
            outline: none;
            span {
              visibility: hidden;
            }
          }
          button.btn-sort-top {
            top: -4px;
            left: 13px;
          }
          button.btn-sort-bottom {
            top: 6px;
          }
        }
      }

      button {
        background: #FFFF00;
        border: 1px solid #000;
        border-radius: 3px;
        padding: 5px;
        font-size: 10px;
        color: #000;
      }

      button.copy-all-btn {
        margin-left: 5px;
        background: #FF7043;
      }

      button:disabled {
        background: #dcdcdc;
      }

      button:focus {
        outline: none;
      }
    }
  }

  tbody {
    display: block;
    overflow: auto;
    max-height: 600px;
    height: 100%;
    font-size: 10px;
    scrollbar-width: none;

    tr.invalid-background-color, tr.invalid-background-color td input[type=text] {
      background-color: #CCCCCC !important;
    }

    tr.valid-background-color, tr.valid-background-color td input[type=text] {
      background-color: white !important;
    }

    td {
      border: 1px solid #2a87d0;
      padding: 5px;

      input[type=text] {
        text-align: right;
        border: none;
        height: 20px;
      }

      input[type=text].edited-cell, select.edited-cell {
        border-bottom: 1px solid red;
      }

      input[type=text].original-cell, select.original-cell {
        border-bottom: 1px solid #afafaf;
      }


      select {
        width: 100%;
        height: 20px;
        border: none;
        background: none;
        text-align: right;
      }

      select:focus, input[type=text]:focus {
        outline: none;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
      }

      button[type=button] {
        background: #2E8B57;
        padding: 5px;
        border-radius: 3px;
        font-size: 10px;
        color: #fff;
      }

      button[type=button]:focus {
        outline: none;
      }
    }
  }
}


