.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin-bottom: -5px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #337ab7;
}

input:focus + .slider {
  box-shadow: 0 0 1px #337ab7;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

@media screen and (min-width: 1101px) and (max-width: 1199px) {
  input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }
}

@media screen and (min-width: 992px) and (max-width: 1100px) {
  .switch {
    width: 45px;
    height: 25px;

    .slider:before {
      height: 13px;
      width: 13px;
      bottom: 7px;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(16px);
      -ms-transform: translateX(16px);
      transform: translateX(16px);
    }
  }
  .newSwitch {
    .slider:before {
      bottom: 5px !important;
    }
  }
}

/* Rounded sliders */
.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}

.newSwitch {
  width: 30px !important;
  height: 20px !important;

  .slider:before {
    height: 10px !important;
    width: 10px !important;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(11px) !important;
    -ms-transform: translateX(11px) !important;
    transform: translateX(11px) !important;
  }
}
